body {
  font-family: sans-serif;
}

table {
  border-collapse: collapse;
}

table, td {
  border: 1px solid black;
}

td {
  width: 60px;
  height: 60px;
  text-align: center;
  vertical-align: middle;
}